body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#productList {
    list-style-type: none;
    padding: 0;
}

.product-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.product-item:last-child {
    border-bottom: none;
}

.product-item span {
    display: block;
}

.alert {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.alert.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.alert.error {
    background-color: #f2dede;
    color: #a94442;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.add-button{
    background-color: rgb(17, 177, 30);
}
.add-button:hover{
    background-color: rgb(6, 126, 16);
}

